@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');

.wrapper-book {
    background: #1E1B26;
    width: 600px;
    height: 450px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'Tulpen One', sans-serif;
    color: #e7e7e7;
    display: flex;
    justify-content: flex-start !important;

}

.book-img {
    width: 50%;
    height: 450px;
}

.book-img img {
    width: 100%;
    height: 450px;
}

.book-content {
    width: 50%;
    height: 450px;
    background: #F5F5F5;
}

.book-content h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 24px;
    color: #2A2935;
    font-size: 43.2px;
    text-align: center;
    padding-left:40px;
    padding-right: 40px;
}

.book-content h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 auto;
    color: #2A2935;
    font-size: 17.28px;
    display: block;
    text-align: center;
    border-top: 1px solid #2A2935;
    border-bottom: 1px solid #2A2935;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.book-content span {
    text-align: center;
    color: #2A2935;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14.8px;
    font-family: 'Cormorant Garamond', serif;
    display: block;
    margin-top: 20px;
}

.book-content h3 {
    margin-top: 3px;
    font-size: 17.28px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    color: #2A2935;
}

.publisher {
    margin-top: 55px !important;
}

