.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background: #181818;
}

.card-p {
  text-align: center;
  font-size: 40px;
  letter-spacing: 1px;
  color: #248A75 !important;
  font-family: 'Cormorant Garamond', serif;
}

.card-title {
  border-radius: 50px;
  border: 1px solid #DB6395 !important;
  padding: 7px 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
